@import url("https://fonts.googleapis.com/css?family=Alex+Brush");

@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");





footer {
	padding: 50px 0;
}


header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

.surname {
	font-family: 'Alex Brush', cursive;
	font-size: 72px;
	margin: 20px auto;
}


.portfolio {
	max-width: 800px;
	margin: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-height: 1400px;
	font-family: 'Open Sans Condensed', sans-serif;
}

.portfolio__project {
	width: 31%;
	margin: 30px 3% 0 0;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	-webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.portfolio__project a {
	text-decoration: none;
	color: #000;
}

.portfolio__project a img {
	width: 100%;
}

.portfolio__project a p {
	padding: 0 10px 20px;
	font-size: 24px;
	margin: 5px 0;
}

.portfolio__project a .firstDesc {
	padding: 0px 10px 10px;
}

.portfolio__project:hover {
	-webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	cursor: pointer;
}

@media (max-width: 900px) {

header .surname {
	font-size: 96px;
}

.portfolio {
	max-width: 700px;
	max-height: 2600px;
}

.portfolio__project {
	width: 50%;
}

.portfolio__project a p {
	font-size: 36px;
}

}

@media (max-width: 580px) {

.portfolio {
	display: block;
	max-width: 100%;
	max-height: 999999999999999;
}

.portfolio__project {
	width: 100%;
	margin-top: 30px;
}

}

