@import url('https://fonts.googleapis.com/css?family=Alex+Brush');

header{
  display: flex;
  justify-content: space-around;
}

.surname{
  font-family: 'Alex Brush', cursive;
  font-size: 72px;
  margin: 20px auto;
}